<!-- Subcontent Panel -->
<section class="subcontent-panel">
    <p>
        The Department of Homeland Security (DHS) Acquisition Planning Forecast
        System (APFS) is a portal for businesses, particularly small businesses,
        to view anticipated contract actions over $250,000.
    </p>

</section>

<!-- Cards -->
<section class="card-grid">
    <!-- Card 3 -->
    <div class="apfs-card">
        <div class="card-header">
            Access for Government Users
        </div>
        <div class="card-body">
            <p>
                Government users must have an active APFS account and a PIV card.
            </p>

            <button class="btn btn-success">
                Government Access
            </button>

            <button class="btn btn-secondary">
                Request Account
            </button>
        </div>
    </div>
</section>