<div class="page-body">

    <p>
        Public Law 100-656, the Business Opportunity Development Reform Act of 1988,
        amended the Small Business Act to emphasize acquisition planning. The law
        requires agencies to compile and make available projections of contracting
        opportunities that small businesses (including minority, women-owned,
        HUBZone, veteran-owned, and service-disabled veteran-owned) may be able to
        perform.
    </p>

    <p>
        The Department of Homeland Security (DHS) Forecast of Contract Opportunities
        includes projections of all anticipated contract actions above $250,000
        that small businesses may be able to perform under direct contracts with
        DHS or perform part of the effort through subcontract arrangements with the
        Department’s large business prime contractors. For additional information
        on procurements not expected to exceed the $250,000, please contact the
        appropriate DHS Small Business Specialist of each Organizational Element.
    </p>

    <p>
        Consistent with our mission, and Federal regulations, DHS will provide
        maximum practicable opportunities in our acquisitions to small businesses,
        veteran-owned small businesses, service-disabled veteran-owned small
        businesses, HUBZone small businesses, small disadvantaged businesses, and
        women-owned small business concerns.
    </p>

    <p>
        The DHS small business acquisition policy is a shared responsibility among
        all DHS employees involved in the acquisition process. Through a unified
        team approach involving senior management, small business personnel,
        acquisition personnel, and technical/program staff, we can support both our
        critical national mission and the important public policy objective of
        small business inclusion in our acquisition program.
    </p>

    <p>
        The procurements described in this forecast are expected to have a
        solicitation released in the current fiscal year and/or subsequent fiscal
        years as indicated for each action. The item descriptions are based on the
        best information available at the time of publication. All projected
        procurements are subject to revision or cancellation.
    </p>

    <p>
        Final decisions on the extent of competition, small business participation,
        estimated value, or any aspect of the procurement action will not be made
        until each procurement is initiated. The forecast data is for planning
        purposes, does not represent a pre-solicitation synopsis, does not
        constitute an invitation for bid or request for proposal, and is not a
        commitment by the Government to purchase the desired products and services.
    </p>

    <p>
        The forecast is divided by DHS Organizational Elements. Based on the
        acquisition strategy, requirements will be solicited in various ways to
        include posting in <a href="https://www.beta.sam.gov" target="_blank">www.beta.sam.gov</a>.
    </p>

    <p>
        The purpose of publishing the small business “Forecast of Contract
        Opportunities” each fiscal year to the general public is to make the reader
        aware of:
    </p>

    <ol>
        <li>
            the scope and depth of the Government’s dependence upon the private sector
            for goods and services, and
        </li>
        <li>
            those new initiatives where the Government intends to seek participation
            of private sector firms for goods and services.
        </li>
    </ol>

    <p>
        In addition, the forecast contains information regarding both the timing and
        range of estimated costs of the Government’s planned contracting actions.
        The dynamics of change in Governmental operations and in the implementation
        of the annual budget process are likely to result in significant changes
        during the fiscal year.
    </p>

    <p>
        There are major contracting actions described in the forecast, which reflect
        ongoing contracts and associated activities. In cases where the government
        chooses to exercise the option of these ongoing contracts, there will be no
        opportunities for third party firms during a given fiscal year.
    </p>

    <p>
        In cases where the government agency is initiating a new contracting action
        during the fiscal year, the agency may choose to:
    </p>

    <ol>
        <li>use existing government contracts in place at another agency, or a DHS-wide contract</li>
        <li>use firms already listed as a part of the Federal Supply Schedule</li>
        <li>
            set aside the opportunity for a specific category of firms
            (e.g., small businesses, service-disabled veteran-owned small businesses,
            HUBZone small businesses, or women-owned small businesses)
        </li>
        <li>
            utilize a full and open competition technique wherein any interested firms
            may consider participating in the acquisition process
        </li>
    </ol>

    <p>
        Vendors using this forecast are advised to learn as much as possible about a
        potential agency customer through information already in the public domain
        (e.g., Government websites, news articles, conferences, etc.) before
        contacting the individuals listed for each advanced acquisition item.
    </p>

    <p>
        Consider participating in Governmental vendor outreach sessions (VOS) as a
        primary marketing technique. DHS holds monthly VOS in Washington, D.C. A
        schedule of the VOS meetings can be found on the DHS Small Business website.
    </p>

    <p>
        Contracts that are currently in place with Department of Homeland Security
        and subject to a re-competition are included on the Acquisition Planning
        Forecast System for planning purposes. Each data entry will give a
        description, anticipated period of performance, incumbent name, contract
        number, and contact information.
    </p>

    <p>
        DHS purchases a wide variety of goods and services and we are committed to
        small business participation in our acquisition program. We hope that this
        forecast will assist you in doing business with DHS.
    </p>

    <p>
        <strong>Note:</strong> Please contact the Small Business Specialists at the
        various DHS Organizational Elements <em>before</em> the points of contact
        listed in APFS records. They will be able to help you get information from
        the points of contact.
    </p>

</div>