@import './styles/_tokens.css';
@import './styles/_components.css';

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: clip;
}

body {
  font-family: var(--font);
  background: var(--bg);
  color: var(--text);
}